.header {
  display: flex;
  width: 83.74vw;
  height: 4.28vh;
  padding: 0.625vw 1.667vw;
  border-bottom: 1px solid #d9d9d9;
  background: #fff;
  align-items: center;
  gap: 0.833vw;
}

.leftTextBox {
  display: flex;
  align-items: center;
  gap: 0.833vw;
  flex: 1 0 0;
}
.title {
  color: #1a181e;
  font-size: 0.8125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.145vw;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.3125vw;
}

.infoIcon {
  width: 0.729vw;
  height: 0.729vw;
  cursor: pointer;
}

.infoText {
  color: #4d4d4d;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: 0.833vw;
}

.searchBarBox {
  display: flex;
  width: 400px;
  padding: 0.46875vw 0.833vw;
  border-radius: 0.3125vw;
  background: #f2f2f2;
  align-items: center;
  gap: 0.416vw;
  flex-shrink: 0;
  align-self: stretch;
}

.searchBarIcon {
  width: 0.833vw;
  height: 0.833vw;
  flex-shrink: 0;
}

.searchBarText {
  color: #808080;
  font-size: 0.78125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1458vw;
}

.searchBarInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.78125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1458vw;
  color: #808080;
  background: transparent;
}

.iconBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.4167vw;
  flex: 1 0 0;
}

.icon {
  width: 2.0834vw;
  height: 2.0834vw;
  cursor: pointer;
}