.mainBox {
  margin: 32px;
}

.outerBox {
  display: flex;
  width: 1610px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.topBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.overview {
  color: #1a181e;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.month {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 123px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background:  #fff;
  flex-shrink: 0;
  padding-left: 14px;
}

.monthText {
  color:#4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.monthIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.details {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.orderBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background:#fff;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
  flex-direction: column;
  flex: 1 0 0;
}

.orders {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  background-color: #ffffff;
  align-self: stretch;
  border-radius: 8px;
}

.orderText {
  display: flex;
  align-items: center;
  gap: 8px;
  color:  #4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.orderNumbers {
  color: #1a181e;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.amountBox {
  display: flex;
  padding: 20px;
  border-radius:8px;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
  background: #fff;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.amountText {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.amountNumber {
  color: #1a181e;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; 
}

.bottomBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.bottomBoxTitle {
  color: #1a181e;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.tableBox {
  display: flex;
  overflow: hidden;
  padding: 12px 12px 24px 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
  background: #fff;
  flex-direction: column;
  align-items: flex-end;
}

.tableHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.searchBox {
  display: flex;
  width: 248px;
  align-items: flex-start;
}

.searchField {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid  #d9d9d9;
  background: #fff;
}
.searchIcon {
  width: 14px;
  height: 14px;
}

.searchText {
  flex: 1 0 0;
  color: #999;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.iconBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.sortBox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid  #d9d9d9;
  background: #fff;
  gap: 6px;
}

.sortText {
  color: #4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sortIcon {
  width: 16px;
  height: 16px;
}

.downloadBox {
  display: flex;
  align-items: center;
  padding-left: 8px;
  width: 28px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  flex-shrink: 0;
}

.downloadIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
table {
  border-collapse: collapse;
  width: 1580px;
}

th {
  padding: 10px 12px;
  background: #f2f2f2;
  color: #4d4d4d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

th:nth-child(1),
th:nth-child(2) {
  text-align: left;
}

th:nth-child(3),
th:nth-child(4) {
  text-align: right;
}

th:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

th:nth-child(4) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.infoBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
  text-align: right;
}

.infoIcon {
  width: 14px;
  height: 14px;
}
td {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
  padding: 14px 12px;
}
td:nth-child(1),
td:nth-child(2) {
  text-align: left;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: right;
}

td:nth-child(1) {
  color: #146eb4;
}

.paginationBox {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}

.paginationPrevious {
  display: flex;
  padding: 6px 12px 6px 6px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fff;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.paginationIcon {
  width: 18px;
  height: 18px;
}

.previousText {
  color: #4d4d4d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.pageNumber {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.individualComponent {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 2px 0px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pageNumberText {
  align-self: stretch;
  color: #4d4d4d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.pageNumberText:hover {
  background-color: #146eb4;
  border-radius: 4px;
  color: #fff;
}

.pageNumberTextTen {
  align-self: stretch;
  background-color: #146eb4;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.paginationNext {
  display: flex;
  padding: 6px 6px 6px 12px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fff;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
