.navbar {
  height: 98vh;
  width: 11.5vw;
  background-color: #1e2640;
  color: #ffffff;
  padding: 1vw 0.625vw 0;
}

.navBox {
  width: 11.66vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  height: 100%;
}

.companyBox {
  width: 10vw;
  height: 4.352vh;
  display: flex;
  align-items: center;
  gap: 0.75vw;
  margin-bottom:1.5vw;
}

.companyImg {
  border-radius: 4px;
  background: lightgray 50% / contain no-repeat;
}

.companyInfo {
  display: flex;
  flex-direction: column;
}
.companyTitle {
  width: 5.625vw;
  align-self: stretch;
  color: #fff;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375vw;
  margin-bottom: 0;
  margin-top: 0;
}

.companyData {
  margin-top: 0.1875vh;
  opacity: 0.8;
  align-self: stretch;
  color: #fff;
  font-size: 0.8125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1vw;
  text-decoration-line: underline;
}

.down {
  width: 1.041vw;
  height: 2.038vh;
  flex-shrink: 0;
}

.navButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25vh;
  flex: 1 0 0;
}

.navButton {
  display: flex;
  width: 9.167vw;
  height: 2.038vh;
  padding: 0.5vw 1vw;
  align-items: center;
  gap: 0.75vw;
}
.navButton:hover {

  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.navButtonPayments {
  display: flex;
  width: 9.167vw;
  height: 2.038vh;
  padding: 0.5vw 1vw;
  border-radius: 0.25vw;
  align-items: center;
  gap: 0.75vw;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.navIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.8;
}
.navName {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.navWallet {
  height: 5.504vh;
  display: flex;
  width: 8.75vw;
  padding: 0.375vw 0.75vw;
  border-radius: 0.25vw;
  background: #353c53;
  align-items: center;
  gap: 0.625vw;
  margin-bottom: 1vh;
}

.navWalletIcon {
  width: 1.25vw;
  height: 2.446vh;
}

.navWalletBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125vw;
}

.navWalletTitle {
  opacity: 0.8;
  color: #fff;
  font-size: 0.8125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1vw;
  margin-bottom: 0;
}

.navWalletMoney {
  margin-top: 0;
  color: #fff;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5vw;
}
